In [121]:
# data crawling

import requests
import pandas as pd
from bs4 import BeautifulSoup

headers={
    'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'
}


url = "https://www.indexmundi.com/commodities/?commodity=gold&months=360"

res = requests.get(url,headers=headers)

try:

    df = pd.read_html(res.text)
    pan = pd.DataFrame(df[4])
    data = {'Month':pan.iloc[:,0],'Price':pan.iloc[:,1],'Change':pan.iloc[:,2]}
    df = pd.DataFrame(data=data)
except:
    print("The url doesn't work!")

In [130]:
df = pd.read_html(res.text)
pan = pd.DataFrame(df[4])

In [131]:
pan

        Month    Price   Change
0    May 1990   369.05        -
1    Jun 1990   352.33  -4.53 %
2    Jul 1990   362.53   2.90 %
3    Aug 1990   394.73   8.88 %
4    Sep 1990   389.32  -1.37 %
5    Oct 1990   380.74  -2.20 %
6    Nov 1990   381.73   0.26 %
7    Dec 1990   376.95  -1.25 %
8    Jan 1991   383.64   1.77 %
9    Feb 1991   363.83  -5.16 %
10   Mar 1991   363.34  -0.13 %
11   Apr 1991   358.38  -1.37 %
12   May 1991   356.95  -0.40 %
13   Jun 1991   366.72   2.74 %
14   Jul 1991   367.69   0.26 %
15   Aug 1991   356.31  -3.10 %
16   Sep 1991   348.74  -2.12 %
17   Oct 1991   358.69   2.85 %
18   Nov 1991   360.17   0.41 %
19   Dec 1991   361.73   0.43 %
20   Jan 1992   354.45  -2.01 %
21   Feb 1992   353.91  -0.15 %
22   Mar 1992   344.34  -2.70 %
23   Apr 1992   338.62  -1.66 %
24   May 1992   337.24  -0.41 %
25   Jun 1992   340.81   1.06 %
26   Jul 1992   352.72   3.49 %
27   Aug 1992   343.06  -2.74 %
28   Sep 1992   345.43   0.69 %
29   Oct 1992   344.38  -0.30 %
..        ...      ...      ...
330  Nov 2017  1281.90   0.19 %
331  Dec 2017  1264.45  -1.36 %
332  Jan 2018  1331.30   5.29 %
333  Feb 2018  1330.73  -0.04 %
334  Mar 2018  1324.66  -0.46 %
335  Apr 2018  1334.76   0.76 %
336  May 2018  1303.45  -2.35 %
337  Jun 2018  1281.57  -1.68 %
338  Jul 2018  1237.71  -3.42 %
339  Aug 2018  1201.71  -2.91 %
340  Sep 2018  1198.39  -0.28 %
341  Oct 2018  1215.39   1.42 %
342  Nov 2018  1220.65   0.43 %
343  Dec 2018  1250.40   2.44 %
344  Jan 2019  1291.75   3.31 %
345  Feb 2019  1320.07   2.19 %
346  Mar 2019  1300.90  -1.45 %
347  Apr 2019  1285.91  -1.15 %
348  May 2019  1283.70  -0.17 %
349  Jun 2019  1359.04   5.87 %
350  Jul 2019  1412.89   3.96 %
351  Aug 2019  1500.41   6.19 %
352  Sep 2019  1510.58   0.68 %
353  Oct 2019  1494.81  -1.04 %
354  Nov 2019  1470.79  -1.61 %
355  Dec 2019  1479.13   0.57 %
356  Jan 2020  1560.67   5.51 %
357  Feb 2020  1597.10   2.33 %
358  Mar 2020  1591.93  -0.32 %
359  Apr 2020  1683.17   5.73 %

[360 rows x 3 columns]

In [111]:
# data crawling

import requests
import pandas as pd
from bs4 import BeautifulSoup

headers={
    'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'
}


url = "https://www.indexmundi.com/commodities/?commodity=petroleum-price-index&months=360"

res = requests.get(url,headers=headers)

try:

    df = pd.read_html(res.text)
    pan = pd.DataFrame(df[1])
    data = {'Month':pan.iloc[:,0],'Price':pan.iloc[:,1],'Change':pan.iloc[:,2]}
    df = pd.DataFrame(data=data,columns=['Month', 'Price', 'Change'])
    df["Change"]=list(df["Change"].apply(lambda x:x[:-1]).values)
    df.to_csv('oil_price.csv')
    
except:
    print("The url doesn't work!")

In [141]:
df.Change

0
1      -4.53
2       2.90
3       8.88
4      -1.37
5      -2.20
6       0.26
7      -1.25
8       1.77
9      -5.16
10     -0.13
11     -1.37
12     -0.40
13      2.74
14      0.26
15     -3.10
16     -2.12
17      2.85
18      0.41
19      0.43
20     -2.01
21     -0.15
22     -2.70
23     -1.66
24     -0.41
25      1.06
26      3.49
27     -2.74
28      0.69
29     -0.30
        ...
330     0.19
331    -1.36
332     5.29
333    -0.04
334    -0.46
335     0.76
336    -2.35
337    -1.68
338    -3.42
339    -2.91
340    -0.28
341     1.42
342     0.43
343     2.44
344     3.31
345     2.19
346    -1.45
347    -1.15
348    -0.17
349     5.87
350     3.96
351     6.19
352     0.68
353    -1.04
354    -1.61
355     0.57
356     5.51
357     2.33
358    -0.32
359     5.73
Name: Change, Length: 360, dtype: object

In [142]:
df.Change=df.Change.astype("int")

ValueError: invalid literal for int() with base 10: ''

In [132]:
# data crawling

import requests
import pandas as pd
from bs4 import BeautifulSoup

headers={
    'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'
}


url = "https://www.indexmundi.com/commodities/?commodity=gold&months=360"

res = requests.get(url,headers=headers)

try:

    df = pd.read_html(res.text)
    pan = pd.DataFrame(df[4])
    data = {'Month':pan.iloc[:,0],'Price':pan.iloc[:,1],'Change':pan.iloc[:,2]}
    df = pd.DataFrame(data=data,columns=['Month', 'Price', 'Change'])
    df["Change"]=list(df["Change"].apply(lambda x:x[:-1]).values)
    df.to_csv('gold_price.csv')
    
except:
    print("The url doesn't work!")

In [102]:
oil=pd.read_csv("oil_price.csv")
oil.head()

   Unnamed: 0     Month  Price  Change
0           0  Jan 1992  40.23     NaN
1           1  Feb 1992  41.09    2.14
2           2  Mar 1992  41.17    0.19
3           3  Apr 1992  44.09    7.09
4           4  May 1992  45.57    3.36

In [56]:
df.columns()

TypeError: 'Index' object is not callable

In [34]:
df["Change"]=list(df["Change"].apply(lambda x:x[:-1]).values)

In [48]:
df.head()

      Month  Price Change
0  Jan 1992  40.23
1  Feb 1992  41.09    2.1
2  Mar 1992  41.17    0.1
3  Apr 1992  44.09    7.0
4  May 1992  45.57    3.3

TypeError: 'Index' object is not callable

In [47]:
df.dtypes()

TypeError: 'Series' object is not callable

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

headers={
    'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.122 Safari/537.36'
}


url = "https://www.indexmundi.com/commodities/?commodity=petroleum-price-index&months=360"

res = requests.get(url,headers=headers)






try:

    df = pd.read_html(res.text)
    pan = pd.DataFrame(df[1])

#     d={'Year':pan.iloc[:,0],'AverageClosing Price':pan.iloc[:,1],'Year Open':pan.iloc[:,2],'Year High':pan.iloc[:,3],'Year Low':pan.iloc[:,4],'Year Close':pan.iloc[:,5],'Annual% Change':pan.iloc[:,6]}
#     df = pd.DataFrame(data=d)
#     df.to_csv('oilCrawl.csv')
except:

    print("The url doesn't work!")

In [3]:
data = {'Month':pan.iloc[:,0],'Price':pan.iloc[:,1],'Change':pan.iloc[:,2]}

In [4]:
df = pd.DataFrame(data=data)

In [5]:
df.head()

      Month  Price  Change
0  Jan 1992  40.23       -
1  Feb 1992  41.09  2.14 %
2  Mar 1992  41.17  0.19 %
3  Apr 1992  44.09  7.09 %
4  May 1992  45.57  3.36 %

In [46]:

# data = {'Month':pan.iloc[:,0],'Price':pan.iloc[:1],'Change':pan.iloc[:2]}
# pan.iloc[:,2]
# df = pd.DataFrame(data=data)
# df.head()

0             -
1        2.14 %
2        0.19 %
3        7.09 %
4        3.36 %
5        5.16 %
6       -5.45 %
7       -3.66 %
8        2.84 %
9        0.82 %
10      -2.45 %
11      -5.25 %
12      -3.06 %
13       6.14 %
14       0.88 %
15      -2.60 %
16      -1.73 %
17      -3.97 %
18      -4.43 %
19      -0.45 %
20      -4.90 %
21       4.76 %
22      -7.01 %
23     -11.06 %
24       6.87 %
25      -3.95 %
26      -1.49 %
27      10.52 %
28       7.64 %
29       3.99 %
         ...
310      9.27 %
311      1.59 %
312      6.33 %
313     -4.97 %
314      1.08 %
315      7.34 %
316      8.59 %
317     -1.10 %
318      1.62 %
319     -1.57 %
320      5.68 %
321      2.52 %
322    -18.30 %
323    -13.82 %
324      4.24 %
325      8.45 %
326      4.44 %
327      7.79 %
328     -2.08 %
329    -10.95 %
330      3.24 %
331     -5.73 %
332      4.52 %
333     -4.76 %
334      5.20 %
335      4.64 %
336     -2.73 %
337    -12.82 %
338    -39.76 %
339    -33.81 %
Name: Change, Length: 340, dtype: object

In [21]:
len(list)

2

In [6]:
list[1]

TypeError: 'type' object is not subscriptable

In [10]:
import requests

from bs4 import BeautifulSoup

import pandas as pd
url = "https://www.indexmundi.com/commodities/"

resp = requests.get(url)

list = pd.read_html(resp.text)

In [12]:
len(list)

2

In [13]:
list[0]

                                                   0
0  Commodity Prices  Click on a commodity from th...

In [14]:
list[1]

,Commodity,1 Month Change,12 Month Change,Year to Date Change
0,Commodity Agricultural Raw Materials Index,-2.01 %,-7.84 %,-5.97 %
1,Commodity Beverage Price Index,-0.14 %,1.99 %,-5.44 %
2,Commodity Price Index,-10.34 %,-31.81 %,-29.60 %
3,Commodity Fuel (energy) Index,-30.19 %,-65.11 %,-60.54 %
4,Commodity Food and Beverage Price Index,-4.08 %,-7.04 %,-10.70 %
5,Commodity Food Price Index,-2.75 %,-0.40 %,-8.80 %
6,Commodity Industrial Inputs Price Index,-4.12 %,-16.27 %,-12.79 %
7,Commodity Metals Price Index,-4.59 %,-19.67 %,-15.64 %
8,Commodity Non-Fuel Price Index,-2.82 %,-7.88 %,-9.70 %
9,"Crude Oil (petroleum), Price index",-33.81 %,-68.56 %,-65.24 %
10,"Coal, Australian thermal coal",-12.27 %,-32.52 %,-15.95 %
11,"Coal, South African export price",-16.66 %,-21.95 %,-31.08 %
12,Crude Oil (petroleum),-34.66 %,-69.32 %,-65.86 %
13,Crude Oil (petroleum); Dated Brent,-29.23 %,-67.22 %,-63.30 %
14,Crude Oil (petroleum); Dubai Fateh,-31.05 %,-67.07 %,-63.50 %
15,Crude Oil (petroleum); West Texas Intermediate,-44.71 %,-74.13 %,-71.28 %
16,Diesel,-26.05 %,-57.32 %,-52.59 %
17,Gasoline,-33.45 %,-70.96 %,-64.34 %
18,Heating Oil,-26.30 %,-58.15 %,-53.62 %
19,Indonesian Liquified Natural Gas,0.00 %,-0.58 %,3.24 %
20,Jet Fuel,-36.41 %,-69.35 %,-65.90 %
21,Natural Gas,-2.79 %,-34.34 %,-14.29 %
22,Propane,11.99 %,-49.07 %,-23.78 %
23,RBOB Gasoline,-49.57 %,-81.33 %,-74.57 %
24,Russian Natural Gas,-22.06 %,-56.91 %,-41.60 %
25,Cocoa beans,-2.99 %,-2.58 %,-12.69 %
26,"Coffee, Other Mild Arabicas",4.28 %,27.72 %,8.95 %
27,"Coffee, Robusta",-5.37 %,-12.96 %,-9.62 %
28,Tea,5.53 %,-7.08 %,-8.30 %
29,Barley,0.00 %,-15.83 %,0.00 %
...,...,...,...,...
60,Copra,NaN,NaN,NaN
61,Cotton,-6.04 %,-27.08 %,-19.54 %
62,Fine Wool,NaN,NaN,NaN
63,Hard Logs,-0.25 %,3.59 %,1.41 %
64,Hard Sawnwood,NaN,NaN,NaN
65,Hides,NaN,NaN,NaN
66,Plywood,-0.25 %,3.59 %,1.41 %
67,Rubber,-11.33 %,-22.67 %,-20.83 %
68,Soft Logs,NaN,NaN,NaN
69,Soft Sawnwood,NaN,NaN,NaN
70,Wood Pulp,NaN,NaN,NaN
71,Aluminum,-9.37 %,-20.89 %,-17.66 %
72,Cold-rolled steel,NaN,NaN,NaN
73,"Copper, grade A cathode",-2.41 %,-21.44 %,-16.14 %
74,Gold,5.73 %,30.89 %,7.85 %
75,Hot-rolled steel,NaN,NaN,NaN
76,Iron Ore,-4.79 %,-9.57 %,-11.52 %
77,Lead,-4.43 %,-14.51 %,-13.85 %
78,Nickel,-0.36 %,-7.58 %,-12.61 %
79,Rebar,NaN,NaN,NaN
80,Silver,1.28 %,0.07 %,-16.14 %
81,Steel wire rod,NaN,NaN,NaN
82,Tin,-2.21 %,-27.43 %,-12.19 %
83,Uranium,NaN,NaN,NaN
84,Zinc,-0.01 %,-35.10 %,-19.15 %
85,DAP fertilizer,2.09 %,-12.90 %,6.46 %
86,Potassium Chloride,0.00 %,-7.72 %,0.00 %
87,Rock Phosphate,-1.57 %,-27.44 %,-2.41 %
88,Triple Superphosphate,0.00 %,-20.97 %,2.51 %
89,Urea,1.67 %,-5.05 %,9.10 %

In [15]:
import requests

from bs4 import BeautifulSoup

import pandas as pd
url = "https://www.indexmundi.com/commodities/?commodity=commodity-price-index&months=360"

resp = requests.get(url)

list = pd.read_html(resp.text)

In [16]:
len(list)

2

In [18]:
list[1]

        Month   Price    Change
0    Jan 1992   50.72         -
1    Feb 1992   50.72    0.00 %
2    Mar 1992   50.75    0.06 %
3    Apr 1992   51.17    0.83 %
4    May 1992   52.64    2.87 %
5    Jun 1992   52.85    0.40 %
6    Jul 1992   52.52   -0.62 %
7    Aug 1992   52.58    0.11 %
8    Sep 1992   53.01    0.82 %
9    Oct 1992   52.50   -0.96 %
10   Nov 1992   50.37   -4.06 %
11   Dec 1992   50.41    0.08 %
12   Jan 1993   49.83   -1.15 %
13   Feb 1993   50.35    1.04 %
14   Mar 1993   51.75    2.78 %
15   Apr 1993   52.01    0.50 %
16   May 1993   52.12    0.21 %
17   Jun 1993   50.70   -2.72 %
18   Jul 1993   50.61   -0.18 %
19   Aug 1993   50.43   -0.36 %
20   Sep 1993   49.47   -1.90 %
21   Oct 1993   49.52    0.10 %
22   Nov 1993   48.81   -1.43 %
23   Dec 1993   49.08    0.55 %
24   Jan 1994   49.87    1.61 %
25   Feb 1994   50.69    1.64 %
26   Mar 1994   50.30   -0.77 %
27   Apr 1994   50.99    1.37 %
28   May 1994   52.40    2.77 %
29   Jun 1994   53.31    1.74 %
..        ...     ...       ...
310  Nov 2017  120.83    4.09 %
311  Dec 2017  122.54    1.42 %
312  Jan 2018  129.83    5.95 %
313  Feb 2018  127.00   -2.18 %
314  Mar 2018  126.58   -0.33 %
315  Apr 2018  128.54    1.55 %
316  May 2018  133.35    3.74 %
317  Jun 2018  132.22   -0.85 %
318  Jul 2018  130.47   -1.32 %
319  Aug 2018  128.26   -1.69 %
320  Sep 2018  132.70    3.46 %
321  Oct 2018  133.71    0.76 %
322  Nov 2018  122.16   -8.64 %
323  Dec 2018  116.15   -4.92 %
324  Jan 2019  117.08    0.80 %
325  Feb 2019  119.01    1.65 %
326  Mar 2019  119.91    0.76 %
327  Apr 2019  123.42    2.93 %
328  May 2019  120.48   -2.38 %
329  Jun 2019  115.53   -4.11 %
330  Jul 2019  117.97    2.11 %
331  Aug 2019  112.71   -4.46 %
332  Sep 2019  114.81    1.86 %
333  Oct 2019  113.02   -1.56 %
334  Nov 2019  116.91    3.44 %
335  Dec 2019  119.91    2.57 %
336  Jan 2020  119.55   -0.30 %
337  Feb 2020  111.09   -7.08 %
338  Mar 2020   93.87  -15.50 %
339  Apr 2020   84.16  -10.34 %

[340 rows x 3 columns]